 {% extends 'header.html' %}
 {% load static %}
 {% block content %}
 <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Sing up </h1>
              <p class="mb-0">Building practical skills through expert mentorship and real-world learning.
Empowering students and professionals to achieve career success</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Sing up</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 300px;" src="https://www.google.com/maps?q=TOPS%20Technologies%20Maninagar%20Ahmedabad&output=embed" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->
      {% if msg %}
      <div class="alert alert-danger" role="alert">
          {{msg}}
      </div>
      {% endif %}



      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>
         
          <div class="col-lg-8">
            <form action="{% url 'newpass' %}" method="post" >
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-12">
                <input type="password" class="form-control" name="opassword" placeholder="Your old Password" required="">
              </div>

               
                <div class="col-md-12">
                  <input type="password" class="form-control" name="npassword" placeholder="Your new Password" required="">
                </div>

                <div class="col-md-12">
                  <input type="password" class="form-control" name="cnpassword" placeholder="Your Confirm New Password" required="">
                </div>
                  <button type="submit"> Update Password </button>
                </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>


 {% endblock %}
