{% extends 'header.html' %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Profile</h1>
              <p class="mb-0">Dedicated to academic excellence and lifelong learning</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Profile</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 300px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->
      {% if msg %}
      <div class="alert alert-danger" role="alert">
          {{msg}}
      </div>
      {% endif %}

            {% if msg1 %}
      <div class="alert alert-success" role="alert">
          {{msg1}}
      </div>
      {% endif %}

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->
            
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>
         
          <div class="col-lg-8">
            <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" value="{{user.name}}" >
                </div>

                <div class="col-md-12">
                  <input type="email" class="form-control" name="email"  value={{user.email}} readonly >
                </div>

                <div class="col-md-12">
                  <input type="tel" class="form-control" name="mno" value={{user.mno}}   >
                </div>
                 <img src="{{user.profile.url}}" alt="" style="height: 100px; width: 150px;">
                 <div class="col-md-12">
                  <input type="file" class="form-control"  name="profile" >
                </div>
                <button type="submit">Update - Profile </button>
              </div>
            </form>
          </div><!-- End Contact Form -->
        </div>
      </div>
    </section><!-- /Contact Section -->
  </main>
{% endblock %}